<template id="template__cyot_root">
    <section class="cyot_root">
        <section>
            <h2 class="cyot_title page_title"></h2>
        </section>
        <section class="cyot_nodes">
            <article class="cyot_root">
                <span class="authortext">written by <em class="author"></em></span>
                <div class="teaser">
                    cyot teaser
                </div>
                <div class="body">
                    cyot body
                </div>
                <div class="choices">
                    <ul></ul>
                </div>
            </article>
        </section>


        <!-- <h2 class="template__cyot__title">Story title</h2>


        <ul class="template__cyot__terms">
            <span>contains references to </span>
        </ul>
        <div class="template__cyot__teaser">
            cyot teaser
        </div>
        <div class="template__cyot__body">
            cyot body
        </div>
        <div class="template__cyot__choices">
            <ul class="cyot__choices"></ul>
        </div> -->

    </section>
</template>