<template id="template__story">
    <article class="story">
        <h2 class="template__story__title">Story title</h2>
        <span class="authortext">written by <em class="template__story__author">an unknown
                author</em></span>
        <ul class="template__story__terms">
            <span>contains references to </span>
        </ul>
        <div class="hr-custom"></div>
        <div class="template__story__teaser">
            story teaser
        </div>
        <div class="template__story__body">
            story body
        </div>
    </article>
</template>