<template id="template__story_short">
    <li>
        <article class="story_short">
            <div class="collapsible-header">
                <h2 class="template__story_short__title">Story title</h2>
                <!-- <a class="template__story_short__a">n.a.</a> -->
            </div>
            <div class="collapsible-body">
                <span class="authortext">written by <em class="template__story__author">an unknown author</em></span>
                <ul class="template__story__terms">
                    <span>contains references to </span>
                </ul>
                <div class="template__story_short__teaser">
                    story teaser
                </div>
                <div class="template__story_short__footer">
                    <a class="template__story_short__a">n.a.</a>
                </div>
            </div>
        </article>
    </li>
</template>