<template id="template__cyot_node">
    <article class="cyot_node">

        <h3 class="title">Story title</h3>

        <span class="authortext">written by <em class="author"></em></span>
        <!-- <ul class="template__cyot__terms">
            <span>contains references to </span>
        </ul> -->
        <div class="teaser">
            cyot teaser
        </div>
        <div class="body">
            cyot body
        </div>
        <div class="choices">
            <ul></ul>
        </div>
    </article>
</template>