<template id="template__menu">
    <div class="container menu-container">
        <div class="row">
            <nav class="column main-menu">
                tf-media.net archive
                <ul>
                    <li>
                        <a id="a_stories">Stories</a>
                    </li>
                    <li>
                        <a id="a_cyot">CYOT</a>
                    </li>
                    <li>
                        <a id="a_about">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</template>