@media (min-width:600px) {
    .sidebar {
        width: 250px;
        position: fixed;
        height: 100%;
        background: #000;
    }

    /* .content {
     margin-left: 250px;
   } */
    .cha-fly {
        position: fixed;

        top: 0;
        right: 0;
        display: table;
        width: 48px;
        height: 100%;
        padding-top: 60px;
        background-color: #212531;
    }

    .cha-fly-in {
        display: table-cell;
        vertical-align: middle;
        ;
    }

    .cha-tools a {
        line-height: 46px;
        display: block;
        position: relative;
        margin-bottom: -1px;
        color: #83848f;
        border-top: 1px solid #171922;
        border-bottom: 1px solid #171922;
    }
}

html {
    height: 100%;
}

body {
    font-size: 3.2em;
    /* color: #111115; */
    min-height: 100%;
    display: flex;
    font-family: "Computer Modern Sans", sans-serif;
}

h1 {
    font-size: 9.2rem;
    line-height: 1.2;
}

h2 {
    font-size: 5rem;
    line-height: 1.25;
}

h3 {
    font-size: 5.6rem;
    line-height: 1.3;
}

h4 {
    font-size: 4.4rem;
    letter-spacing: -.08rem;
    line-height: 1.35;
}

h5 {
    font-size: 3.6rem;
    letter-spacing: -.05rem;
    line-height: 1.5;
}

h6 {
    font-size: 3.2rem;
    letter-spacing: 0;
    line-height: 1.4;
}

p {
    text-align: justify;
    margin-bottom: 6rem;
}

.term:hover {
    font-style: normal;
    background-image: linear-gradient(270deg, #1fd4d6, #cd21d4);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.template__story__terms,
.template__story_short__terms,
.template__cyot__terms,
.template__cyot_short__terms {
    font-size: 2rem;
    color: #CCCCCC;
}

.template__story__terms li,
.template__story_short__terms li,
.template__cyot__terms li,
.template__cyot_short__terms li {
    display: inline-block;
}

.template__story__terms li:not(:last-child)::after,
.template__story_short__terms li:not(:last-child)::after,
.template__cyot__terms li:not(:last-child)::after,
.template__cyot_short__terms li:not(:last-child)::after {
    content: ", ";
}

.template__story__body,
.template__story__teaser,
.template__story_short__teaser,
.template__story__title,
.template__cyot__body,
.template__cyot__teaser,
.template__cyot_short__teaser,
.template__cyot__title {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    /* font-family: 'Merriweather', serif; */
}

.template__story__title,
.template__cyot__title {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-variant: small-caps;
    color: #111115;
    margin-bottom: 7rem;
    text-align: center;
}

.template__story_short__title,
.template__cyot_short__title {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-variant: small-caps;
    color: #111115;
    /* margin-bottom: 7rem; */
}

/* .template__story__teaser:after,
.divider:after {
    display: block;
    content: "\1F65F\1F65D";
    color: #CCCCCC;
margin: 1em 0;
font-size: 2em;
text-align: center;
}

*/
.authortext {
    color: #cccccc;
    font-size: 2rem;
}

.story {}

.story .authortext {
    display: block;
    /* margin-bottom: 10.4rem; */
}

.column-title {
    margin-bottom: 10.4rem;
}

.story_short .authortext {
    font-size: 2rem;
}

.story_short h2,
.cyot-short h2 {
    font-size: 3.2rem;
}

/* .story {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
} */

.collapsible {
    list-style-type: none;
}

.collapsible-header {
    /* display: flex; */
    cursor: pointer;
}

.collapsible-header:hover {
    background-color: #eeeeef;
}

.collapsible-body {
    display: none;
    padding: 0 5rem;
}

.active .collapsible-body {
    display: block;
}

.template__story_short__footer {
    /* display: none; */
    /* margin-left: 14rem;margin-right: 14rem; */
    margin-bottom: 10.4rem;
    text-align: right;
}

.template__story_short__a {
    display: block;
    cursor: pointer;
}

.collapsible .active {
    /* background-color: #e0e0e0; */
}


.main-menu ul {
    list-style: none;
    display: inline;
}

.main-menu li {
    display: inline-block;
    margin: 0;
}

.menu-container {
    background-color: #111115;
    color: white;
    /* border-bottom: 1px solid #606c76; */
    margin-bottom: 9rem;
    font-size: 2rem;
}



body {
    background-color: #171922;
}

.container-page {
    background-color: #FFFFFF;
    /* padding-right: 6%;
    padding-left: 6%; */
    border-radius: 0.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 100%;
}

.container-page>.row {
    height: 100%;
}

#column-page {
    padding-left: 8rem;
    padding-top: 14rem;
    padding-bottom: 14rem;
}

#column-menu {
    max-width: 7rem;
}


#column-menu nav {
    position: sticky;
    top: calc(50% - 2*5rem);
    list-style: none;
}

#column-menu nav li {
    /* background-color: red; */
    border: 0.1rem solid #d7d8e0;
    border-radius: 0.5rem;
    width: 5rem;
    height: 5rem;
    margin: 0.2rem 0px;
    text-align: center;
    vertical-align: middle;
    color: #d7d8e0;
    transition: color 1s, border-color 1s;
}

#column-menu nav li:hover {

    color: #111115;
    border-color: #111115;
}


#column-menu nav a {
    display: block;
    cursor: pointer;
    color: inherit;
}

.divider {

    font-size: 22px;
    position: relative;
    overflow: hidden;
    height: 24px;
    margin: 6%;
    text-align: center;
    color: #d7d8e0;
}

.divider:before {
    left: 50%;
    margin-left: 25px;
}

.divider:after {
    right: 50%;
    margin-right: 25px;
}

.divider:after,
.divider:before {
    position: absolute;
    top: 50%;
    width: 100%;
    content: '';
    border-top: 1px solid;
}